/*---
 Font
 ----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/*--------
Body Style
-----------*/

body{
    background-color: #AAAAAA0c;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/*---------- 
Header Style
-----------*/

header{
    margin-top: 87px;
    margin-left: 120px;
}
header > h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
header h2{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 24px;
}

/* ------
Animation
---------*/

.featured-part-two:hover #p2-img-2{
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}

.collection:hover .photos-collection{
    transform: scale(1.2);
    transition: transform 2s translate;
}

/* ----------
Featured Part
------------- */

.featured{
    display: flex;
    margin-bottom: 200px;
}
.featured-part-one{
    margin-top: 145.8px;
    margin-left: 120px;
    margin-right: 133px;
    width: 50%;
}
.featured-part-one > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.featured-description{
    font-weight: 600px;
}

/* -----------------
 Preebook Now Button
 -------------------*/
 
.featured-preebook{
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
}

.featured > div > div {
    margin-top: 27px;

}
.fa-arrow-right{
    color: white;
}

.img-absolute{
    position: absolute;
}

#p2-img-1{
    width: 475px;
    height: 475px;
}

#p2-img-2{
    margin-top: 25px;
    margin-left: 25px;
    width: 440px;
    height: 414px;
}

.featured-part-two{
    margin-top: 30px;
}

/*---------------- 
Popular Collection
--------------- */

.popular-collection {
    margin-top: 0px;
    width: 1047px;
    height: 1662px;
    margin-left: 450px;
}

.popular-collection > h3 {
    font-weight: 600px;
    font-size: 28px;
    text-align: center;
}

.collection{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.photos-collection{
    margin: 16px;
    margin-bottom: 0px;
}

.collection-detail{
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
}

.collection-name {
    margin-bottom: 0px;
    font-weight: 500px;
    font-size: 28px;
}

.collection-price{
    margin-top: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0px;
}

.filled {
    margin-top: 10px;
    font-size: 12px;
    color: #FB8200;
}

.fa-star-half-alt {
    margin-top: 10px;
    font-size: 12px;
    color: #FB8200;
}

.collection-info > div > span {
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    font-size: 14px;
    margin-left: 8px;
}

.description > p {
    margin: 0px;
    font-size: 14px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 50px;
}

/*------------- 
See More Button
 --------------*/
.see-more{
    text-decoration: none;
    margin-left: 955px;
    color: #E02C6D;
}

.see-more-arrow{
    color: #E02C6D;
}

/* ----------------
Bonus Section Part
------------------- */
.bonus-section{
    margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 120px;
    display: flex;
}

.bonus-section-part-one{
    width: 50%;
    text-align: justify;
}

.bonus-section-part-two{
    margin-left: 50px;
}


/* ---------
Footer Part
------------ */

.footer-section{
    height: 239px;
    background-color:  #0A0826;;
}

.footer-paragraph{
    color: #D9DBE1;
    text-align: center; 
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    margin: 0px;
}

.footer-bold{
    font-size: 24px;
    font-weight: bold;
    text-align: center; 
    color: white;
    margin: 0px;
}

.logo {
    margin-top: 24px;
    color: white;
    text-align: center;
    width: 100%;
}

.icon{
    margin-right: 24px;
}

.footer-div{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-section a{
    text-decoration: none;
    color: white;
}


/* ------------------------------
Responsive Layout - Mobile Phones
--------------------------------*/

@media only screen and (max-width:688px) {

    header{
        margin-left: 70px; 
    }

    .featured {
        width: 100%;
        flex-direction: column;
        margin-bottom: 500px;
    }

    #p2-img-1 {
        width: 75%;
    }

    #p2-img-2 {
        margin-left: 50px;
        width: 50%;
    }

    .featured-part-one {
        margin-left: 70px;
        align-items: center;
    }
    .featured-part-two {
        margin-top: 100px;
        margin-left: 70px;
        align-items: center;
    }

    .popular-collection {
        margin-left: 0px;
        margin-right: 0;
        width: 100%;
        margin-bottom: 3050px;
    }

    .popular-collection > h3 {
        margin-top: 100px;
        text-align: left;
        margin-left: 70px;
    }

    .collections {
        margin-left: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .see-more {
        margin: 0;
        margin-left: 270px;
    }

    .bonus-section {
        margin-left: 0px;
        width: 100%;
        flex-direction: column;
    }

    .bonus-section-part-one {
        margin-left: 70px;
        margin-bottom: 100px;
    }
    .bonus-section-part-two {
        margin-left: 70px;
        margin-bottom: 100px;
    }

    .yt-video{
        margin-left: 0px;
        width: 70%;
        height: 70%;
    }

}

/* ------------------------------
Responsive Layout - Tablet Device
--------------------------------*/

@media only screen and (min-width: 688px) and (max-width:992px) {
    header > h3{
       text-align: left;
    }

    .featured {
        width: 100%;
        flex-direction: column;
        margin-bottom: 600px;
    }

    .featured-part-one {
        margin-bottom: 50px;
    }
    #p2-img-1 {
        margin-left: 70px;
        width: 75%;
    }

    #p2-img-2 {
        margin-left: 150px;
        width: 50%;
    }

    .popular-collection {
        margin-left: 0px;
        margin-right: 0;
        width: 100%;
        margin-bottom: 1050px;
    }

    .popular-collection > h3 {
        margin-top: 100px;
        text-align: center;

    }

    .collections {
        margin-left: 40px;
        grid-template-columns: repeat(2, 1fr);
    } 


    .see-more {
        margin: 0;
        margin-left: 620px;
    }

    
    .bonus-section {
        margin-left: 0px;
        width: 100%;
        flex-direction: column;
    }

    .bonus-section-part-one {
        margin-left: 70px;
        margin-bottom: 100px;
    }
    .bonus-section-part-two {
        margin-left: 70px;
        margin-bottom: 100px;
    }
    

}